**
!Dockerfile
!recruiter/
!recruiter/*.py
!experiments/
!experiments/*.py
!experiments/recruiter/
!experiments/recruiter/*.py
!experiments/recruiter/fixture.json
!skills/
!skills/recruiter-associate/
!skills/recruiter-associate/SKILL.md
!scripts/
!scripts/*.py
!deploy/
!deploy/AGENTS.md
!docs/
!docs/WORKFLOW.md
!vendor/
!vendor/agent-index-client/
!vendor/agent-index-client/*.py
!vendor/agent-index-client/LICENSE.apache2
!vendor/agent-index-client/NOTICE
!vendor/agent-index-client/README.md
!LICENSE
